<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string>Verwendet den Standort, um die Anzahl und die Vorschriften der COVID 19-Vorfälle anzugeben.</string>
</dict>
</plist>
